[Unit]
Description=Linux USB Scanner Client Auto Update
Documentation=https://github.com/cosmicc/linux-usb-scanner-client
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
Group=root
WorkingDirectory=/opt/linux-usb-scanner-client
Environment=PYTHONUNBUFFERED=1
ExecStart=/opt/linux-usb-scanner-client/venv/bin/linux-usb-scanner-client --config /etc/linux-usb-scanner-client.conf auto-update

